@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.set__nav{
    height: 75px;    
}

.nav__bgColor{
    background-color: #e79afff6 !important;
}

/* .logo{
    background: url("../assets/img/CuidaPetsFinale.png") ;
    width: 100vw;
    height: 300px;
    background-position:center ;
    background-size: cover;
    background-color: #f0c4fd;
    text-indent:-99999px;
} */


.navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
    
}

a.nav-link{
    transition: 1s;
}

a.nav-link:hover{
    transition: 1s;
    color: blueviolet !important;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid ;
} 


.div__img img{
    width: 100vw;
    background-color: #f0c4fd;
} 


@media screen and (max-width: 995px){
    .nav{
        background-color: #e081fd ;
        /* #f0c4fd  
        claro gris : #f8f9fb*/
        z-index: 2;
        
    }
    .navbar{
        padding-bottom: 0 !important;
    }
}