Aca los usuarios prestadores de servicio hacen esto: 
https://github.com/Claudio-Olivera/ProyectoGrupal-ISPC/issues/14
(esto podria ser una seccion a la que se accede desde el perfil del usuario)
(pensar en el turnero de un medico, equivalente a eso.... 
esta interfaz deberia permitir manejar varios conceptos en simultaneo.....
la disponibilidad en general (turnos), el estado de la misma (si esta
reservado o no, respecto a tiempos futuros), y si se concreto o 
no (turnos pasados.... vino o no la mascota?)

