<!-- INICIO DE NAVBAR -->
<div class="set__nav">
    <nav class="navbar navbar-expand-lg navbar-light nav__bgColor">
        <div class="container-fluid nav d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item nav justify-content-center">
                        <!-- Agregadas jinja url llama por name dado en archivo urls.py -->
                        <a class="nav-link active" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item nav justify-content-center">
                        <a class="nav-link active" href="{% url 'sobreNosotros' %}">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item nav justify-content-center">
                        <a class="nav-link active" href="{% url 'cuidadores' %}">Cuidadores</a>
                    </li>
                    <li class="nav-item nav justify-content-center">
                        <a class="nav-link active" href="{% url 'contactanos' %}">Contáctanos</a>
                    </li>
                    <li class="nav-item nav justify-content-center">
                        <a class="nav-link active" href="" data-bs-target="#IniciarSesionModal"
                            data-bs-toggle="modal" title="Iniciar Sesión"><i class="fa-regular fa-user h4"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- FIN DE NAVBAR -->

<!-- Aplico include de jinja 2 para que el modal de iniciar Sesion se comparta en todas las navegaciones -->
{% include 'layouts/modalIniciarSesion.html' %}

<!-- Aplico include de jinja 2 para que el modal de Registrarse se comparta en todas las navegaciones -->
{% include 'layouts/modalRegistrarse.html' %}

<!-- Uso de jinja para navegacion--> 
{% block content %}
{% endblock %}
<!-- con esto termino el bloque -->