<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="./CSS/style.css">
    <!-- BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- BOOTSTRAP JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        
        <!--*** FALTA favicon ***-->
        
        <title>CuidaPets</title>
    </head>
    
    <body>
        <header>
            <div class="div__header">
                    <h1 class="h1__title display-1">
                        CuidaPets
                        <img class="house img-fluid " src="assets/img/house-removebg-preview.png" alt="logotipo de perro y gato dentro de una casa">
                    </h1>
            </div> 
        </header>

    <!-- INICIO DE NAVBAR -->
    <div class="set__nav">
        <nav class="navbar navbar-expand-lg navbar-light nav__bgColor">
            <div class="container-fluid nav d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item nav justify-content-center">
                            <a class="nav-link active" href="sobreNosotros.html">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item nav justify-content-center">
                            <a class="nav-link active" href="Cuidadores.html">Cuidadores</a>
                        </li>
                        <li class="nav-item nav justify-content-center">
                            <a class="nav-link active" href="contactanos.html">Contáctanos</a>
                        </li>
                        <li class="nav-item nav justify-content-center">
                            <a class="nav-link active" href="" data-bs-target="#IniciarSesionModal"
                                data-bs-toggle="modal" title="Iniciar Sesión"><i class="fa-regular fa-user h4"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- FIN DE NAVBAR -->
    <!--Inicio Modal de iniciar Sesion -->
    <div class="modal fade" id="IniciarSesionModal" tabindex="-1" aria-labelledby="sesionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sesionModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Email">Email<span class="text-danger">*</span></label>
                        <input type="email" name="email" class="form-control" id="Email" placeholder="ingresa tu Email">
                    </div>

                    <div class="mb-3">
                        <label for="Contraseña">Contraseña<span class="text-danger">*</span></label>
                        <input type="password" name="contraseña" class="form-control" id="Contraseña"
                            placeholder="Ingresa tu Contraseña">
                    </div>
                    <div class="mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="remember" required>
                        <label class="form-check-label" for="remember">Recordarme</label>
                        <a href="#" class="float-end">Olvidé mi contraseña</a>
                    </div>
                </div>
                <div class="modal-footer pt-4">
                    <button type="button" class="btn btn-success mx-auto w-100">Iniciar
                        Sesión</button>
                </div>
                <p class="text-center">No tienes cuenta? crea una aquí:
                    <a href="" data-bs-target="#RegistrateModal" data-bs-toggle="modal" data-bs-dismiss="modal"
                        title="registrate">
                        <button type="button" class="btn btn-primary mx-auto w-25">
                            Registro
                        </button>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- Fin Modal de iniciar Sesion -->

    <!--Inicio Modal de Registro -->
    <div class="modal fade" id="RegistrateModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Registrate</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Nombre">Nombre<span class="text-danger">*</span></label>
                        <input type="text" name="nombre" class="form-control" id="Nombre"
                            placeholder="ingresa tu Nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="Apellido">Apellido<span class="text-danger">*</span></label>
                        <input type="text" name="apellido" class="form-control" id="Apellido"
                            placeholder="ingresa tu Apellido" required>
                    </div>

                    <div class="mb-3">
                        <label for="Email">Email<span class="text-danger">*</span></label>
                        <input type="text" name="email" class="form-control" id="Email" placeholder="ingresa tu Email"
                            required>
                    </div>

                    <div class="mb-3">
                        <label for="Contraseña">Contraseña<span class="text-danger">*</span></label>
                        <input type="password" name="contraseña" class="form-control" id="Contraseña"
                            placeholder="Ingresa tu Contraseña" required>
                    </div>

                    <div class="mb-3">
                        <label for="repiteContraseña">Repite la Contraseña<span class="text-danger">*</span></label>
                        <input type="password" name="repitecontraseña" class="form-control" id="repiteContraseña"
                            placeholder="Ingresa nuevamente tu Contraseña" required>
                    </div>

                    <div class="mb-3">
                        <label for="Ciudad">Ciudad<span class="text-danger">*</span></label>
                        <input type="ciudad" name="ciudad" class="form-control" id="Ciudad"
                            placeholder="Ingresa tu Ciudad" required>
                    </div>

                    <div class="mb-3">
                        <label for="Provincia">Provincia<span class="text-danger">*</span></label>
                        <input type="provincia" name="provincia" class="form-control" id="Provincia"
                            placeholder="Ingresa tu Provincia" required>
                    </div>

                    <div class="mb-3">
                        <label for="codigoPostal">Codigo Postal<span class="text-danger">*</span></label>
                        <input type="codigopostal" name="codigopostal" class="form-control" id="codigoPostal"
                            placeholder="Ingresa tu Código Postal" required>
                    </div>

                    <div class="mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="remember" required>
                        <label class="form-check-label" for="remember"><a href="#" class="float-end">Acepto los términos
                                y condiciones de
                                uso</a></label>
                    </div>
                </div>

                <div class="modal-footer pt-4">
                    <button type="button" class="btn btn-success mx-auto w-100">Crear
                        Cuenta</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Fin Modal de Registro -->


    <main>

        <!-- Cambio, pasar seccion experiencias de usuario a main en home para utilizar todo el home como contenido promocional -->
        <div class="width__sections">
        <section class="section">
            <h2 class="section__title text-center">Necesitas que alguien cuide tu mascota?</h2><br>
            <img src="./assets/img/cuidados.jpeg" alt="cuidados" class="w-75 h-50 img-thumbnail"> <br>
            <p class="section__p text-justify">
                Entendemos que existen muchos motivos por los cuales contratar a alguien que cuide de tu mascota es la decisión mas sabia a tomar, independientemente de cuál sea tu motivo, <strong>CuidaPets</strong> te ayudará a encontrar cuidadores que se adapten a tus necesidades y las de tu mascota. 
                <ul>
                    <li>El pago lo acuerdas con el cuidador</li>
                    <li>En ningún momento te cobraremos por usar nuestros servicios</li>
                    <li>Podrás ver los cuidadores mejor puntuados y participar puntuando al cuidador que hayas contratado.</li>
                </ul>
            </p>
            <!-- aca posible imagen , video , etc -->
        </section>


            <section class="section">
                <h2 class="section__title text-center">Que beneficios tengo al contratar un cuidador?</h2><br>

                <img src="./assets/img/cuidador.jpg" alt="cuidador chocando los cinco con perro" class="w-75 h-50 img-thumbnail"> <br>
                
                <p class="section__p text-justify">
                    Cada vez más dueños de mascotas utilizan los servicios de cuidadores de mascotas profesionales para aprovechar los beneficios que brinda el cuidado de mascotas en el hogar:
                <ul>
                    <li>Las mascotas son más felices y experimentan menos estrés.</li>
                    <li>Las rutinas de dieta y ejercicio son ininterrumpidas.</li>
                    <li>Se elimina el trauma del viaje tanto para el dueño como para la mascota.</li>
                    <li>Se minimiza la exposición de las mascotas a enfermedades.</li>
                    <li>No es necesario llamar a amigos/familiares/vecinos no capacitados o no dispuestos.</li>
                </ul>
            </p>
            <!-- aca posible imagen , video , etc -->
        </section>
        
        
        <section class="section">
            <h2 class="section__title text-center">Quieres trabajar cuidando mascotas?</h2> <br>

            <img src="./assets/img/food-cat.jpg" alt="persona alimentando gato" class="w-75 h-50 img-thumbnail"> <br>

            <p class="section__p text-justify">
                Registrate en nuestra web y publicítate como cuidador de mascotas, ten en cuenta que los dueños de las mascotas podrán <b>puntuar tu desempeño</b>, es decir, mientras mejor hagas tu trabajo, mas usuarios querrán contratar tus servicios de cuidado.
                
                <ul>
                    <li>La oportunidad de ser tu propio jefe</li>
                    <li>Sin comisiones, <strong>CuidaPets</strong> no te cobrará ni te descontará nada.</li>
                    <li>El precio del servicio lo pones tú</li>
                </ul>
                <p class="section__p text-justify">
                    Los cuidadores de mascotas realizan una variedad de tareas, que incluyen:
                </p>
                
                <ul>
                    <li>En primer lugar, ¡amar los animales!</li>
                    <li>Alimentar a las mascotas y cambiar sus tazones de agua.</li>
                    <li>Proporcionar ejercicio y tiempo de juego (puede incluir pasear al perro)</li>
                    <li>Limpiar cajas de arena y limpiar cualquier otro desorden de mascotas.</li>
                    <li>Administrar medicamentos para mascotas, si es necesario.</li>
                </ul>
                
            </p>
            <!-- aca posible imagen , video , etc -->
        </section>
    </div>
        
        
    <h3 class="section__title text-center">Algunas experiencias de nuestros usuarios</h3><br>
    
            <img class="rounded-circle img__user" src="assets/img/exp_perf_1.jpg"  alt="foto de un usuario"> <i>Fernanda - C.A.B.A</i>
            <p class="section__p text-center"> <i>-La verdad no puedo estar mas contenta con la web, es muy fácil de usar y mis mascotas estuvieron super cuidadas cuando me fui de vacaciones. </i>
            </p>
            <br>

            <img class="rounded-circle img__user" src="assets/img/exp_perf_2.jpg"  alt="foto de un usuario"> <i>Juan - Prov. de Buenos Aires</i>
            <p class="section__p text-center"> <i>-Necesitaba a alguien responsable que pudiera darle la medicación a mi perro, gracias a este sitio pude contactar con un chico super responsable que se hizo cargo de todo mientras yo trabajaba. </i>
            </p>
            <br>
    
            <img class="rounded-circle img__user" src="assets/img/exp_perf_3.jpg"  alt="foto de un usuario"> <i>Milagros - C.A.B.A</i>
            <p class="section__p text-center"> <i>-Nunca pensé que gracias a <b>CuidaPets</b> iba a poder convertir mi pasión por los animales en una fuente de ingreso. Soy feliz, porque vivo de lo que mas me gusta hacer. </i>
            </p>

    </main>


<div class="container">

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="faq.html" class="nav-link px-2 text-muted">Preguntas frecuentes</a></li>
        </ul>
        <h6 class="text-center">Nuestras redes sociales</h6>
        <div class="d-flex align-items-center justify-content-center">
            <li class="ms-3 nav-link"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="ms-3 nav-link"><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="ms-3 nav-link"><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </div>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
    
</div>

</body>
<script src="./JS/index.js"></script>
<!-- Font awesome -->
<script src="https://kit.fontawesome.com/6dfa6ca8b0.js" crossorigin="anonymous"></script>

</html>