{% block content %}
    {% include 'layouts/base.html' %}
<body>
    <!-- Uso de jinja para colocar header en contactanos -->
    {% include 'layouts/header.html' %}
    <!-- Uso de jinja para colocar navbar en contactanos -->
    {% include 'layouts/navbar.html' %}
<!-- Realizo la carga de estaticos por jinja -->
    {% load static %}
    <main>
        <h1 class="h1__contactanos">Contáctanos</h1>
        <div class="container py-4">
            <form id="contactForm">
                <div class="mb-3">
                    <label class="form-label" for="name">Nombre</label>
                    <input class="form-control" id="name" type="text" placeholder="Nombre"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="email" placeholder="Email" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" type="text" placeholder="Mensaje"></textarea>
                </div>
                <div class="d-grid">
                    <button class="btn button__enviar text-white fw-bold btn-lg" type="submit">Enviar Mensaje</button>
                </div>
            </form>
        </div>
    </main>

<div class="container">

    <!-- Incluyo el footer usando jinja2 -->
    {% include 'layouts/footer.html' %}

</body>

<!-- Font awesome -->
<script src="https://kit.fontawesome.com/6dfa6ca8b0.js" crossorigin="anonymous"></script>
</html>
{% endblock %}