<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/contactanos.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <!-- BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- BOOTSTRAP JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link rel="Shortcut icon" href="assets/IMG/favicon.png" type="image/x-icon"/>
</head>

<body>
    <header>
        <div class="div__header">
                <h1 class="h1__title display-1">
                    CuidaPets
                    <img class="house img-fluid " src="./assets/IMG/house-removebg-preview.png" alt="logotipo de perro y gato dentro de una casa">
                </h1>
        </div> 
    </header>

    <!-- Uso de jinja (similar a las interpolaciones en angular) para navegacion--> 
    {% extends 'base.html' %}

    <!-- tengo que declarar el bloque que continua despues del extends de jinja -->
    {% block content %}

    <main>
        <h1 class="h1__contactanos">Contáctanos</h1>
        <div class="container py-4">
            <form id="contactForm">
                <div class="mb-3">
                    <label class="form-label" for="name">Nombre</label>
                    <input class="form-control" id="name" type="text" placeholder="Nombre"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="email" placeholder="Email" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" type="text" placeholder="Mensaje"></textarea>
                </div>
                <div class="d-grid">
                    <button class="btn button__enviar text-white fw-bold btn-lg" type="submit">Enviar Mensaje</button>
                </div>
            </form>
        </div>
    </main>

<div class="container">

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <!-- href con espacio vacio primero y despues / para que vaya a inicio. no toma /index y menos /index.html por la definicion que fue echa en urls.py -->
            <li class="nav-item"><a href=" /" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/faq" class="nav-link px-2 text-muted">Preguntas frecuentes</a></li>
        </ul>
        <h6 class="text-center">Nuestras redes sociales</h6>
        <div class="d-flex align-items-center justify-content-center">
            <li class="ms-3 nav-link"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="ms-3 nav-link"><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="ms-3 nav-link"><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </div>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
    
</div>

</body>

<!-- Font awesome -->
<script src="https://kit.fontawesome.com/6dfa6ca8b0.js" crossorigin="anonymous"></script>
</html>
{% endblock %}