<!-- inicia el block -->
{% block content %}
    <!-- Uso de jinja para colocar base en cuidadores -->
    {% include 'layouts/base.html' %}
<body>
    <!-- Uso de jinja para colocar header en cuidadores -->
    {% include 'layouts/header.html' %}
    <!-- Uso de jinja para colocar navbar en cuidadores -->
    {% include 'layouts/navbar.html' %}
    <!-- Realizo la carga de estaticos por jinja -->
    {% load static %}

    <main>
        <h1 class="h1__cuidadores">Cuidadores</h1>
        

        <!-- Aca faltaria colocar un buscador con filtros de busqueda para los cuidadores. -->


        <h4 class="text-center">Aquí puedes ver todos los cuidadores registrados en la web!!</h4>
        
        <section class="card__cuidadores">

            <!--Inicio de cards cuidadores, luego al consumir backend, por cada cuidador se creará automaticamente una nueva (con solo definir una en el html, será suficiente para colocarlas todas)-->

            <!-- primera card -->
            <div class="d-flex align-items-center justify-content-center espaciador">
                <div class="card text-center">
                    <div class="container__img">
                        <img src="{% static 'assets/300x200img.png' %}" alt="imagen representativa y promocional de cuidador" />
                    </div>
                    <div class="card-body">
                    <h5 class="card-title fw-bold">Juan Pérez</h5>
                    <p class="card-text">
                        Texto donde Juan explicaria brevemente su oferta, con un maximo de carácteres permitidos.
                    </p>
                    </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> 
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </li>
                    <li class="list-group-item"><i class="fa-solid fa-phone-flip"></i> +54 2984-788433</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> Buenos Aires - Merlo</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Mas info</a>
                </div>
            </div>
        </div>

        <!-- segunda card -->
            <div class="d-flex align-items-center justify-content-center espaciador">
                <div class="card text-center">
                    <div class="container__img">
                        <img src="{% static 'assets/300x200img.png' %}" alt="imagen representativa y promocional de cuidador" />
                    </div>
                    <div class="card-body">
                    <h5 class="card-title fw-bold">Laura Estive</h5>
                    <p class="card-text">
                        Texto donde Laura explicaria brevemente su oferta, con un maximo de carácteres permitidos.
                    </p>
                    </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> 
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                        </div>
                    </li>
                    <li class="list-group-item"><i class="fa-solid fa-phone-flip"></i> +54 2984-788423</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> Córdoba - Gral.San Martin</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Mas info</a>
                </div>
            </div>
        </div>

        <!-- tercera card -->
            <div class="d-flex align-items-center justify-content-center espaciador">
                <div class="card text-center">
                    <div class="container__img">
                        <img src="{% static 'assets/300x200img.png' %}" alt="imagen representativa y promocional de cuidador" />
                    </div>
                    <div class="card-body">
                    <h5 class="card-title fw-bold">Patricia Jimenez</h5>
                    <p class="card-text">
                        Texto donde Patricia explicaria brevemente su oferta, con un máximo de carácteres permitidos.
                    </p>
                    </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> 
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </li>
                    <li class="list-group-item"><i class="fa-solid fa-phone-flip"></i> +54 2984-787433</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> C.A.B.A - San Telmo</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Mas info</a>
                </div>
            </div>
        </div>


        <!-- cuarta card -->
        <div class="d-flex align-items-center justify-content-center espaciador">
            <div class="card text-center">
                <div class="container__img">
                    <img src="{% static 'assets/300x200img.png' %}" alt="imagen representativa y promocional de cuidador" />
                </div>
                <div class="card-body">
                <h5 class="card-title fw-bold">Fernando Segel</h5>
                <p class="card-text">
                    Texto donde Fernando explicaria brevemente su oferta, con un maximo de carácteres permitidos.
                </p>
                </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> 
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </li>
                <li class="list-group-item"><i class="fa-solid fa-phone-flip"></i> +54 2984-782433</li>
                <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> Rio Negro - General Roca </li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Mas info</a>
            </div>
        </div>
    </div>

        <!-- quinta card -->
            <div class="d-flex align-items-center justify-content-center espaciador">
                <div class="card text-center">
                    <div class="container__img">
                        <img src="{% static 'assets/300x200img.png' %}" alt="imagen representativa y promocional de cuidador" />
                    </div>
                    <div class="card-body">
                    <h5 class="card-title fw-bold">Julieta Valladares</h5>
                    <p class="card-text">
                        Texto donde Julieta explicaria brevemente su oferta, con un maximo de carácteres permitidos.
                    </p>
                    </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> 
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                        </div>
                    </li>
                    <li class="list-group-item"><i class="fa-solid fa-phone-flip"></i> +54 2984-771423</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> Santa Fe - Rosario</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Mas info</a>
                </div>
            </div>
        </div>

        <!-- sexta card -->
            <div class="d-flex align-items-center justify-content-center espaciador">
                <div class="card text-center">
                    <div class="container__img">
                        <img src="{% static 'assets/300x200img.png' %}" alt="imagen representativa y promocional de cuidador" />
                    </div>
                    <div class="card-body">
                    <h5 class="card-title fw-bold">Maria Acosta</h5>
                    <p class="card-text">
                        Texto donde María explicaria brevemente su oferta, con un maximo de carácteres permitidos.
                    </p>
                    </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> 
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </li>
                    <li class="list-group-item"><i class="fa-solid fa-phone-flip"></i> +54 2984-744411</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> San Luis - Merlo</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Mas info</a>
                </div>
            </div>
        </div>

        <!-- septima card -->
            <div class="d-flex align-items-center justify-content-center espaciador">
                <div class="card text-center">
                    <div class="container__img">
                        <img src="{% static 'assets/300x200img.png' %}" alt="imagen representativa y promocional de cuidador" />
                    </div>
                    <div class="card-body">
                    <h5 class="card-title fw-bold">Javier Nuñez</h5>
                    <p class="card-text">
                        Texto donde Javier explicaria brevemente su oferta, con un maximo de carácteres permitidos.
                    </p>
                    </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> 
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </li>
                    <li class="list-group-item"><i class="fa-solid fa-phone-flip"></i> +54 2984-781233</li>
                    <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> San Juan - Caucete </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Mas info</a>
                </div>
            </div>
        </div>

        <!-- octava card -->
        <div class="d-flex align-items-center justify-content-center espaciador">
            <div class="card text-center">
                <div class="container__img">
                    <img src="{% static 'assets/300x200img.png' %}" alt="imagen representativa y promocional de cuidador" />
                </div>
                <div class="card-body">
                <h5 class="card-title fw-bold">Antonella Andrade</h5>
                <p class="card-text">
                    Texto donde Antonella explicaria brevemente su oferta, con un maximo de carácteres permitidos.
                </p>
                </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> 
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </li>
                <li class="list-group-item"><i class="fa-solid fa-phone-flip"></i> +54 2984-628413</li>
                <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> C.A.B.A - Palermo</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Mas info</a>
            </div>
        </div>
    </div>
    </section>
    </main>

    <!-- Uso de jinja para colocar footer en cuidadores -->
    {% include 'layouts/footer.html' %}
    
</body>
<!-- fin del block -->
{% endblock %}