<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="css/faq.css">
    <!-- BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- BOOTSTRAP JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link rel="Shortcut icon" href="assets/IMG/favicon.png" type="image/x-icon"/>
        <title>Preguntas Frecuentes-CuidaPets</title>
</head>

<body>
    <header>
        <div class="div__header">
            <h1 class="h1__title display-1">
                CuidaPets
                <img class="house img-fluid " src="assets/img/house-removebg-preview.png"
                    alt="logotipo de perro y gato dentro de una casa">
            </h1>
        </div>
    </header>

    <!-- Uso de jinja para navegacion  y modales --> 
    {% extends 'layouts/base.html' %}
    <!-- tengo que declarar el bloque que continua despues del extends de jinja -->
    {% block content %}
    
    <main>

        <h1 class="text-center fw-bold">Faqs</h1>
        <hr width="50%" size="10px">

        <section class="section__p">
            <h3 class="fw-bold">Preguntas frecuentes de los proveedores de servicios para mascotas</h3>
            <p >
                <li>
                    ¿Tengo que ofrecer mis servicios exclusivamente para CuidaPets?
                </li>

                CuidaPets es una comunidad de amantes de las mascotas, y damos la bienvenida a cualquier amante de las
                mascotas de cualquier plataforma.
                <li >
                    ¿Por qué es mejor ofrecer servicios de cuidado de mascotas en CuidaPets?
                </li>

                Como miembro de CuidaPets, puede ofrecer sus servicios de cuidado de mascotas, y no te cobraremos nada.
                <li>
                    ¿Tengo que llevar un uniforme o un atuendo determinado cuando presto mis servicios?
                </li>

                No tenemos un uniforme o atuendo obligatorio para cuando preste sus servicios. Entiendase que mientras
                su vestimenta sea aceptable para quien lo contrate, no hay problema.

                <li>
                    ¿Tengo que proporcionar comida para la mascota?
                </li>

                Los requisitos para proporcionar comida u otros suministros para mascotas dependen de su negociación con
                el propietario de la mascota.

                <li>
                    ¿Cómo tener mas estrellas?
                </li>

                Cuando prestes servicio, quienes te contraten podran puntuarte, lo cual se reflejará en tus estrellas.

                <li>
                    ¿Cómo declinar o rechazar el trabajo?
                </li>

                Si no puedes aceptar el trabajo, puedes optar por rechazarlo, no estas obligado a aceptar trabajos, y no
                serás puntuado por no aceptar un trabajo.
                <li>
                    ¿Cómo se pone en pausa el anuncio?
                </li>

                Cuando esté en pausa, su anuncio no aparecerá en el directorio ni en las búsquedas.
                <li>
                    ¿Cómo se puede anular/cerrar un anuncio?
                </li>

                En tu panel de usuario, encontraras la opción, "eliminar mi anuncio".
                <li>
                    ¿Qué es el formulario de registro? ¿Es importante?
                </li>

                Deberás registrarte en la web si quieres poder anunciarte.
            </p>
        </section>
        <hr width="50%" size="10px">

        <section class="section__p">
            <h3 class="fw-bold ">Preguntas frecuentes de los usuarios del servicio</h3>
            <p>
                <li>
                    ¿Cómo denunciar a un usuario?
                </li>
                No se toleran los contenidos censurables ni los usuarios abusivos. Si es necesario, los usuarios pueden hacer una denuncia anónima.
                <li>
                    Si mi mascota es agresiva, ¿es adecuada para un alojamiento de mascotas a domicilio?
                </li>
                Los cuidadores de mascotas en CuidaPets son amantes de las mascotas, aun así es necesario que informe correctamente al cuidador sobre las actitudes/respuestas de su mascota. 
                <li>
                    ¿Cómo puedo cambiar mi contraseña?
                </li>
                <ol>
                    <li>
                        Vaya a "Perfil"
                    </li>
                    <li>
                        Seleccione el botón del icono de configuración 
                    </li>
                    <li>
                        Elija "Cambiar contraseña" y luego proceda a colocar la nueva contraseña. 
                        Tendrá que confirmar este cambio en su correo electronico.
                    </li>
                </ol>
            
                <li>
                    ¿Qué hago si mi mascota se pierde o desaparece cuando está al cuidado del proveedor de servicios para mascotas?
                </li>
                
                En CuidaPets nuestra misión es lograr la conexión entre el cuidador y el usuario, pero no tenemos injerencia en lo que los mismos acuerden. 
            </p>
            </section>
    </main>
    
    <!-- Incluyo el footer usando jinja2 -->
    {% include 'layouts/footer.html' %}

</body>
<!-- Font awesome -->
<script src="https://kit.fontawesome.com/6dfa6ca8b0.js" crossorigin="anonymous"></script>

</html>
{% endblock %}