<!-- inicia el block -->
{% block content %}
    <!-- Uso de jinja para colocar base en faq -->
    {% include 'layouts/base.html' %}
<body>
    <!-- Uso de jinja para colocar header en faq -->
    {% include 'layouts/header.html' %}
    <!-- Uso de jinja para colocar navbar en faq -->
    {% include 'layouts/navbar.html' %}
    <!-- Realizo la carga de estaticos por jinja -->
    {% load static %}
    <main>

        <h1 class="text-center fw-bold">Faqs</h1>
        <hr width="50%" size="10px">

        <section class="section__p">
            <h3 class="fw-bold">Preguntas frecuentes de los proveedores de servicios para mascotas</h3>
            <p >
                <li>
                    ¿Tengo que ofrecer mis servicios exclusivamente para CuidaPets?
                </li>

                CuidaPets es una comunidad de amantes de las mascotas, y damos la bienvenida a cualquier amante de las
                mascotas de cualquier plataforma.
                <li >
                    ¿Por qué es mejor ofrecer servicios de cuidado de mascotas en CuidaPets?
                </li>

                Como miembro de CuidaPets, puede ofrecer sus servicios de cuidado de mascotas, y no te cobraremos nada.
                <li>
                    ¿Tengo que llevar un uniforme o un atuendo determinado cuando presto mis servicios?
                </li>

                No tenemos un uniforme o atuendo obligatorio para cuando preste sus servicios. Entiendase que mientras
                su vestimenta sea aceptable para quien lo contrate, no hay problema.

                <li>
                    ¿Tengo que proporcionar comida para la mascota?
                </li>

                Los requisitos para proporcionar comida u otros suministros para mascotas dependen de su negociación con
                el propietario de la mascota.

                <li>
                    ¿Cómo tener mas estrellas?
                </li>

                Cuando prestes servicio, quienes te contraten podran puntuarte, lo cual se reflejará en tus estrellas.

                <li>
                    ¿Cómo declinar o rechazar el trabajo?
                </li>

                Si no puedes aceptar el trabajo, puedes optar por rechazarlo, no estas obligado a aceptar trabajos, y no
                serás puntuado por no aceptar un trabajo.
                <li>
                    ¿Cómo se pone en pausa el anuncio?
                </li>

                Cuando esté en pausa, su anuncio no aparecerá en el directorio ni en las búsquedas.
                <li>
                    ¿Cómo se puede anular/cerrar un anuncio?
                </li>

                En tu panel de usuario, encontraras la opción, "eliminar mi anuncio".
                <li>
                    ¿Qué es el formulario de registro? ¿Es importante?
                </li>

                Deberás registrarte en la web si quieres poder anunciarte.
            </p>
        </section>
        <hr width="50%" size="10px">

        <section class="section__p">
            <h3 class="fw-bold ">Preguntas frecuentes de los usuarios del servicio</h3>
            <p>
                <li>
                    ¿Cómo denunciar a un usuario?
                </li>
                No se toleran los contenidos censurables ni los usuarios abusivos. Si es necesario, los usuarios pueden hacer una denuncia anónima.
                <li>
                    Si mi mascota es agresiva, ¿es adecuada para un alojamiento de mascotas a domicilio?
                </li>
                Los cuidadores de mascotas en CuidaPets son amantes de las mascotas, aun así es necesario que informe correctamente al cuidador sobre las actitudes/respuestas de su mascota. 
                <li>
                    ¿Cómo puedo cambiar mi contraseña?
                </li>
                <ol>
                    <li>
                        Vaya a "Perfil"
                    </li>
                    <li>
                        Seleccione el botón del icono de configuración 
                    </li>
                    <li>
                        Elija "Cambiar contraseña" y luego proceda a colocar la nueva contraseña. 
                        Tendrá que confirmar este cambio en su correo electronico.
                    </li>
                </ol>
            
                <li>
                    ¿Qué hago si mi mascota se pierde o desaparece cuando está al cuidado del proveedor de servicios para mascotas?
                </li>
                
                En CuidaPets nuestra misión es lograr la conexión entre el cuidador y el usuario, pero no tenemos injerencia en lo que los mismos acuerden. 
            </p>
            </section>
    </main>
    
    <!-- Uso de jinja para colocar footer en faq -->
    {% include 'layouts/footer.html' %}

</body>
<!-- fin del block -->
{% endblock %}