.h1__sobreNosotros{
    margin-top: 2%;
    text-align: center;
}

#percomp{
    width: 400px;
    height: 400px;
}

#mapargent{
    width: 200px;
    height: 400px;
}

#huella{
    width: 200px;
    height:200px;
}
